/* UNIVERSAL RULES */
html {
  font-size: 16px;
  font-family: Helvetica;
  color: seashell;
  opacity: 0.9;
}

body {
  margin: 0 auto;
  background-color: black;
  opacity: 0.9;
}

/* flex rules */

.container {
  display: flex;
}


/* HEADER */

header {
  width: 100%;
  background-color: black;
  color: seashell;
  justify-content: center;
  height: 69px;
  border-bottom: 1px solid seashell;
}

header .mid-container {
  display: flex;
  justify-content:
 space-between;
 align-items: center;
  width: 100%;
}

.logo {
  height: 50px;
  padding: 10px 0 10px 20px;
}

.nav-items {
  padding-right: 30px;
  font-size: 1.3rem;
  text-decoration: underline;
}


/* BANNER */
#banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: black;


}

#banner .middle-container {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  height: 700px;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mission {
  background-color: black;
  width: 100%;
}

/* FEATURED */
#featured {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#featured .middle-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#featured .top-row ,
  .bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}


.cage img {
  width: 300px;
  height: 200px;
}


















/* COMBAK:  */
